
<ion-content [fullscreen]="true">
  <div>
    <ion-title>
      <div class="frgtpass-container">
      <ion-img src="assets/icon/image10.png" /></div>
      <p class="forgot-password">forgot password</p>

    </ion-title>
  </div>
  <div class="component-4">
    <img src="/assets/icon/image2.png" class="component-image">

    
  </div>
       
  <div class="verification-text">
    Please enter your Email Address To Receive a Verification code
  </div>
  <div class="continue-with-email">
    Continue with Email
  </div>
  <div class="forgot-passwor">
    Forgot Your Password?
  </div>
  <div class="rectangle-3124"></div>
 
  <div class="component-5"> 
    <img src="/assets/icon/image.png" class="component-image">
  </div>
  <div class="continue-with-email1">
    Continue with Phone
  </div>
  
  <div class="forgot-passwor1">
    Forgot Your Password?
  </div>
  <div class="rectangle-31241"></div>
  <ion-button  class="custom-button"  expand="block"
      style="border-radius: 35px; height: 45px; width: 299px;"
      [routerLink]="['/verificationemail']">
      <span class="sign-in-text"> create acount</span>
    
    </ion-button>
 
 
</ion-content>
