<ion-header>
  <ion-toolbar>
    <ion-title>Vote for Man of the Match</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedPlayer">
      <ion-item *ngFor="let player of players">
        <ion-label>{{ player.name }}</ion-label>
        <ion-radio slot="start" [value]="player.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button expand="full" (click)="submitVote()">Submit Vote</ion-button>
</ion-content>

