
<ion-content>
  <div class="frgtpass-container">
    <ion-img src="assets/icon/imagep.png" />
    </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="8" size-md="6" size-lg="4" class="ion-text-center">
       
        <div class="pass-image"></div>

        <!-- Page Title -->
        <h1 class="create-password-title">Create New Password</h1>

        <!-- Email Input -->
        <ion-item class="input-item">
          <ion-label position="floating">New password</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <!-- Password Input -->
        <ion-item class="input-item">
          <ion-label position="floating"> Confirm Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <!-- Submit Button -->
        <ion-button  class="custom-button"  expand="block"
      style="border-radius: 35px; height: 45px; width: 299px;"
      [routerLink]="['/password-changed']">
      <span class="sign-in-text"> save</span>
    
    </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

