

<ion-content [fullscreen]="true">
  <ion-title>
    <div class="frgtpass-container">
    <ion-img src="assets/icon/image3.png" /></div>
    <p class="forgot-password">Verification Email </p>

  </ion-title>
  <div class="verification-text">
    Please enter you code sent to 
  </div>
  <div class="component-3">
    <ion-img src="assets/icon/image.png" /></div>
    <ion-button  class="custom-button"  expand="block"
    style="border-radius: 35px; height: 45px; width: 299px;"
    [routerLink]="['/newpass']">
    <span class="sign-in-text"> verify</span>
  
  </ion-button>

 
</ion-content>
