

<ion-content>
  <!-- Main Container -->
  <div class="iphone-container">
    
    <!-- Status OK -->
    <div class="status-ok"></div>
  

    <!-- Ellipse 36 -->
    <div class="ellipse">
      
      <img src="/assets/icon/imagecer.png" >
      
    </div>

    <!-- Vector 297 -->
    <div class="vector-297">
    
        <img src="/assets/icon/imagecheck.png" >
  
      
    </div>

    <!-- Chevron-left (Back Arrow) -->
    <ion-icon name="chevron-back"></ion-icon>

    <!-- Password Changed Message -->
    <h1 class="password-changed">Password Changed</h1>

    <!-- Component 7 -->
    <div class="component-7">
      <p>Password change successfully</p>
    </div>

    <!-- Skip Button -->
    <button 
    [routerLink]="['/signup']">
    <span class="skip-button"> Skip</span>
    </button>
  </div>
</ion-content>