.iphone-container {
    position: relative;
    width: 390px;
    height: 844px;
    background: #FFFFFF;
    margin: 0 auto; /* Center the container */
  }
  

  
  .ellipse {
    position: absolute;    /* The element is positioned absolutely within its parent */
    width: 200px;          /* Width of the ellipse */
    height: 200px;         /* Height of the ellipse (same as width to make it a circle) */
    left: 90px;           /* Moves the element 42px left from its parent */
    top: 100px;             /* Moves the element 21px down from the top of its parent */

       /* Fills the ellipse with a red-orange color */
border: 1.5px solid #FFFFFF;  
}
  
  .vector-297 {
    /* Vector 297 */

position: absolute;
width: 100px;
height: 70px;
left: 150px;
top: 160px;



  }
  
  .chevron-left {
    position: absolute;
    font-size: 38px;
    left: 21px;
    top: 20px;
    color: black;
  }
  
  .password-changed {
    position: absolute;
    width: 325px;
    height: 52px;
    left: 32px;
    top: 330px;
    font-family: 'Mplus 1p Bold', sans-serif;
    font-size: 35px;
    text-align: center;
    color: #000000;
  }
  
  .component-7 {
    position: absolute;
    width: 379px;
    height: 46px;
    left: 41px;
    top: 400px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #C4C4C4;
  }
  
  .skip-button {
    position: absolute;
    left: 76.15%;
    top: 61.59%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #4DA768;
    background: none;
    border: none;
  }
  